@font-face {
    font-family: PoppinsRegular;
    src: url("/fonts/Poppins-Regular.woff2")format("woff2"),
        url("fonts/Poppins-Regular.woff")format("woff"),
        url("fonts/Poppins-Regular.ttf")format("truetype");
    font-display: swap;
}

@font-face {
    font-family: PoppinsSemiBold;
    src: url("fonts/Poppins-SemiBold.woff2")format("woff2"),
        url("fonts/Poppins-SemiBold.woff")format("woff"),
        url("fonts/Poppins-SemiBold.ttf")format("truetype");
    font-display: swap;
}

@font-face {
    font-family: OpenSansRegular;
    src: url("fonts/OpenSans-Regular.woff2")format("woff2"),
        url("fonts/OpenSans-Regular.woff")format("woff"),
        url("fonts/OpenSans-Regular.ttf")format("truetype");
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 2.2em;
    background: var(--violet) url("svg/bg-mobile.svg") top / contain no-repeat;
}

:root {
    --violet: hsl(257deg 40% 49%);
    --soft-magenta: hsl(300deg 69% 71%);
}

.logo {
    width: 8.5em;
    object-fit: scale-down;
}

.illustration {
    width: 100%;
    margin: 3.5em 0;
    object-fit: scale-down;
}

.main .content {
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 1.25em;
}

.content h1 {
    font-size: 1.7em;
    font-family: PoppinsSemiBold, sans-serif;
}

.content p {
    line-height: 1.3em;
    font-family: OpenSansRegular, sans-serif;
}

.btn-register {
    color: var(--violet);
    border: none;
    width: 11em;
    padding: 0.625em 0;
    border-radius: 1.25em;
    box-shadow: 0 1.25em 1em -1em #000;
    font-family: PoppinsRegular, sans-serif;
}

.btn-register:hover {
    background-color: var(--soft-magenta);
    color: #fff;
    cursor: pointer;
}

.footer {
    margin-top: 50px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

[class$="ico"] {
    width: 2.5em;
    height: 2.5em;
    fill: #fff;
}

[class$="ico"]:hover {
    fill: var(--soft-magenta);
    cursor: pointer;
}

@media screen and (min-width: 1024px) {
    body {
        margin: 0 auto;
        width: 87.5vw;
        padding: 3.125em 0;
        min-height: 100vh;
        background-image: url("svg/bg-desktop.svg");
        background-position: left center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .logo {
        width: 14em;
    }

    .main {
        display: flex;
        gap: 3.125em;
    }

    .main .content {
        text-align: left;
        align-items: flex-start;
        justify-content: center;
    }

    .btn-register {
        width: 11.25em;
        font-size: 1.2em;
        border-radius: 2.188em;
        padding: 1.25em 0;
    }

    .content h1 {
        font-size: 2.75em;
        line-height: 1.5em;
    }

    .content p {
        font-size: 1.25em;
    }

    .illustration {
        margin: 0;
        width: 50%;
    }

    .footer {
        margin: 0;
        align-self: flex-end;
    }
}